/app_etl/vendor
/app_etl_b/vendor
/carrinhocompras/vendor
/carrinhocomprasb/vendor
/app_poligonos/vendor
/app_poligonos_b/vendor
/app_crm/vendor

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
